<div *ngFor="let group of groups | async">
  <span *ngIf="group.$key == groupId">

    <form #f="ngForm" (ngSubmit)="submitRollcall(f.value)">

      <h1 class="form-group">
        {{group.name}}
      </h1>
      <input type="hidden" class="form-control" name="name" [(ngModel)]="group.name" required>

      <hr/>

      <h2>Students</h2>

      <div class="form-group" *ngFor="let classList of classLists | async">
        <span *ngFor="let v of gas.generateArray(group.classId)">
            <span *ngIf="classList.$key == v">
              <h2>{{classList.name}}</h2>
              <span *ngFor="let student of students | async">
                <p *ngIf="student.classListId == v">
                  <input type="checkbox" [name]="student.studentId" ngModel=true> {{student.name}}
                  <input type="hidden" class="form-control" name="groupKey" [(ngModel)]="group.$key" required>
                  <input type="hidden" class="form-control" name="studentId" [value]="student.studentId" required>
                </p>
              </span>
            </span>
        </span>
      </div>

      <button class="btn btn-default" routerLink="" routerLinkActive="Active">Back</button>
      <button class="btn btn-default" type="submit">Submit Rollcall</button>

    </form>
  </span>
</div>
