<div *ngFor="let group of groups | async">
  <div *ngIf="groupId == group.$key">
    <h1>{{group.name}}</h1>
    <span *ngIf="group.classId != null">
      <span *ngFor="let v of gas.generateArray(group.classId)">
        <div *ngFor="let classList of classes | async">
          <p *ngIf="v == classList.$key">
            {{classList.name}}
          </p>
        </div>
      </span>
    </span>
  </div>
</div>
<button class="btn btn-default" routerLink="" routerLinkActive="Active">
  Back
</button>
