<span *ngFor="let group of groups | async">
  <span *ngIf="groupId == group.$key && group.email == eis.emailId && !showAttendance">
    <h1>{{group.name}}</h1>
    <span *ngIf="group.classId != null; else noGroups">
      <span *ngFor="let v of gas.generateArray(group.classId)">
        <div *ngFor="let classList of classes | async">
          <p *ngIf="v == classList.$key">
            {{classList.name}}
            <span *ngFor="let student of students | async">
                <ul *ngIf="student.classListId == classList.$key">
                  <li>{{student.name}}</li>
                </ul>
            </span>
          </p>
        </div>
      </span>
    </span>
    <ng-template #noGroups>
      <p>You have no groups selected</p>
    </ng-template>
    <hr/>
    <button class="btn btn-default" routerLink="" routerLinkActive="Active">Back</button>
    <button class="btn btn-default" [routerLink]="['/rollcall', group.$key]" routerLinkActive="Active">Perform Rollcall</button>
  </span>
  <span *ngIf=""></span>



</span>
<button class="btn btn-primary text-right"
        (click)="toggleAttendance()">
  {{ showAttendance ? 'Hide' : 'Show' }} Attendance
</button>
