<form [formGroup]="form" (ngSubmit)="addStudent(form.value)">
  <div class="form-group">
    <label>Student Name</label>
    <input class="form-control" [ngClass]="{'has-error':!form.controls['name'].valid && form.controls['name'].touched}" type="text" placeholder="Student Name" [formControl]="form.controls['name']" required>
    <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="alert alert-danger">Group Name is Required</div>
  </div>

  <div class="form-group">
    <label>Student Number (K00000000)</label>
    <input class="form-control" [ngClass]="{'has-error':!form.controls['studentId'].valid && form.controls['studentId'].touched}" type="text" placeholder="Student Number" [formControl]="form.controls['studentId']" required>
    <div *ngFor="let student of students | async">
      <div *ngIf="form.value.studentId == student.studentId" [ngClass]="{'has-error':!form.controls['studentId'].valid}"  class="alert alert-danger">Student ID Is Already In Use</div>
    </div>

    <div *ngIf="form.controls['studentId'].hasError('required') && form.controls['studentId'].touched" class="alert alert-danger">Invalid Student Number</div>
    <div *ngIf="form.controls['studentId'].hasError('maxlength') && form.controls['studentId'].touched" class="alert alert-danger">Invalid Student Number</div>
    <div *ngIf="form.controls['studentId'].hasError('minlength') && form.controls['studentId'].touched" class="alert alert-danger">Invalid Student Number</div>
  </div>

  <div class="form-group">
    <label>Email Address</label>
    <input class="form-control" [ngClass]="{'has-error':!form.controls['email'].valid && form.controls['email'].touched}" type="text" placeholder="Email Address" [formControl]="form.controls['email']" required>
    <div *ngIf="form.controls['email'].hasError('email') && form.controls['email'].touched" class="alert alert-danger">Invalid Email</div>
  </div>

  <div class="form-group">
    <label>Class List</label>
    <p>Select one or multiple classes you wish to add in this group.</p>
    <select class="form-control" name="classListId" [formControl]="form.controls['classListId']" required>
      <option value="" disabled selected>Select Class For Student</option>
      <option *ngFor="let classList of classes | async " [value]="[classList.$key]">{{classList.name}}</option>
    </select>
    <div *ngIf="form.controls['classListId'].hasError('required') && form.controls['classListId'].touched" class="alert alert-danger">A Class is Required</div>
  </div>

  <div class="form-group">
    <button class="btn btn-default" [disabled]="!form.valid" type="submit">Add Student</button>
  </div>

</form>
