<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Homepage
      </h1>
      <label for="username">Username</label>
      <input type="text" id="username" #username>
      <label for="email">Email</label>
      <input type="text" id="email" #email>
      <button (click)="onSubmit(username.value, email.value)">Submit</button>
      <hr/>
      <p>{{asyncString| async | json}}</p>
      <!--<p *ngFor="let data of asyncString | async">{{data.name}}</p>-->
    </div>
  </div>
</div>
