<!-- Opening Database Student list set to variable item. Repeating through for to
get all students.

Continuing through if statement to ensure students returned belong to the owner of them.
This is verified through the use of email as UID from Firebase change if the user if
deleted from the Authentication table. Emails are forever unique as the user logs in through
Google, ensuring there is a level of protection. Students are currently shows if they are
 not archived. This was just a test to be used on later feature, classList -->
<div  *ngFor="let item of items | async">
  <p *ngIf="item.email == (af.auth | async)?.auth.email && item.archive === 0">
    <input type="text" #updatetext [value]="item.name" />

    <button (click)="updateItem(item.$key, updatetext.value)">Update</button>
    <button (click)="deleteItem(item.$key)">Delete</button>
    <button (click)="archiveItem(item.$key)">Archive</button>
  </p>
</div>
<input type="text" id="name" [(ngModel)]="model.name" name="name" #newitem required />
<input type="hidden" id="email" [(ngModel)]="model.email" name="email" value="{{ (af.auth | async )?.auth.email}}" #newEmail />
<button (click)="addItem(newitem.value, newEmail.value, classID.value)">Add</button>
<button (click)="deleteEverything()">Delete All</button>
<hr/>
<!-- Created multiple option select form element. Currently, the user can select as many
 of the classes as they want, but the value currently passed is the highest/first id selected -->
<div>
  <label for="classID">Class List</label>
  <select #classID multiple id="classID" [(ngModel)]="model.classId" name="classId">
    <option *ngFor="let classList of classes | async " [value]="classList.$key">{{classList.name}}</option>
  </select>
  <p>{{model.classId}}</p>
</div>
<hr/>

<!-- Dive deeper into the object passed back by google to retrieve the user's email address.
 This will be used to identify which groups are theirs.-->
<div> {{ (af.auth | async )?.auth.email}}</div>
<hr/>
